* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
}

header {
  background-color: #F0EBCE;
  padding: 20px;
}

header > h1 {
  color: black;
  text-align: center;

}

body {
  background-color: #2C3639;
}

.img {
  width: 100px;
  height: 100px;
}

.scoreBoard {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 5px;
  width: 200px;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}

.badge {
  border: 2px solid;
  border-radius: 4px;
  background: #E97777;
  color: white;
  font-size: 14px;
  padding: 2px 10px;

}

#userLabel {
  position: absolute;
  top: 30px;
  left: -27px;
}

#computerLabel {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  text-align: center;
  margin: 30px;
}

.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 8px;
  margin: 0px 20px;
  transition: all 3ms ease;
}

.choice:hover {
  cursor: pointer;
  background: #393E46;
}

.choice:active {
  background: #181818;
  box-shadow: 1px 1px 1px 1px white;
}

#actionMessage {
  text-align: center;
  color: white;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}


/* @media only screen and (max-width: 600px){
  
header > h1 {
    font-size: 4rem; 
}

.scoreBoard {
  margin: 20px auto;
  border: 15px solid white;
  border-radius: 9px;
  width: 45rem;
  height: 15rem;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 15px 20px;
  position: relative;
}

.badge {
  border: 7px solid;
  border-radius: 4px;
  background: #E97777;
  color: white;
  font-size: 2rem; 
  width: 10rem;
  height: 5rem;
  font-size: 3rem;
}

.mobileScore {
  font-size: 75px;
}

.badge > p {
  position: absolute;
  top: -25px;
  right: 5px;
}

#userLabel {
  position: absolute;
  top: 4rem;
  left: -5rem;
}

#computerLabel {
  position: absolute;
  top: 4rem;
  right: -5rem;
}

.result {
  font-size: 65px;
}

.choice {
  display: block;
  border: 6px solid white;
  border-radius: 50%;
  padding: 8px;
  transition: all 3ms ease;
  width: 21rem;
  height: 21rem;
  margin-left: 19rem;
  margin-bottom: 3rem;
}

.img {
  height: 15rem;
  width: 15rem;
  margin-top: 2rem;
}
.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}

#actionMessage {
  font-size: 3rem;
} */

}
